$main-color: #3674E5;
$main-light-color: #E4EEFF;

$contrast-color: #FFF;
$grey-light-color: #EEEEEE;
$grey-light-dark-color: #DBDBDB;
$grey-color: #999999;
$grey-dark-color: #666666;
$black-color: #000000;
$red: #FA4242;


$disabled-color: $grey-light-color;
$text-color: $grey-dark-color;
$placeholder-color: $grey-color;
$error-color: $red;

$button-border-radius: 3px;
$button-padding: 8.5px 20px;
$button-small-padding: 2px 6px;


$field-padding: 4px 0;


$transition: all 0.2s ease-in-out;

$border-radius-rounded: 50%;

$tooltip-shadow: 0 2px 15px rgba(0, 0, 0, 0.25);

$z-middle: 5;
